<p>
  <strong>Bookid:</strong>
  <%= @book.bookID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isavailable:</strong>
  <%= @book.isAvailable %>
</p>

<%= link_to 'Back', list_path %>
