<% provide(:title, "Home") %>

<%= form_tag(list_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
<%= submit_tag "Search" %>
<% end %>

<div class="col-md-10">
  <div class="panel panel-default">
    <div class="text-center">
    <h1>Books Library</h1>
    </div>
    <table class ="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN Number</th>
        <th>Summary</th>
        <th>Author</th>
        <th>Disponibility</th>
      </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= get_book_stat(book.isAvailable) %></td>
        
        <td><%= link_to 'Show', detail_path(:id => book.id) %></td>
        <% if logged_in? and current_member.isAdmin? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <% if book.isAvailable == 0%>
            <td><%= link_to 'Loan Book', loan_path(:id => book.id) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </table>
    </div>
    <% if logged_in? and current_member.isAdmin? %>
      <%= link_to 'New Book', new_book_path %>
    <% end %>
</div>

<div class="col-md-2">
    <div class="jumbotron">
      <p>Hi!</p>
      <% if logged_in? and current_member.isAdmin? %>
            <%= link_to "Members List",   members_path %>
      <% end %>
    </div>
</div>

