<% provide(:title, "Home") %>

<p id="notice"><%= notice %></p>


<%= form_tag(list_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
<%= submit_tag "Search" %>
<% end %>

<div class="col-md-10">
    <h1>Listing Books</h1>
 
    <table>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
      </tr>
    <% end %>
    </table>
</div>
<div class="col-md-2">
    <div class="jumbotron">
            <%= link_to "Members List",   members_path %>
    </div>
</div>

