<% provide(:title, "Home") %>

<%= form_tag(list_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
<%= submit_tag "Search" %>
<% end %>

<div class="col-md-10">
  <div class="panel panel-default">
    <div class="text-center">
    <h1>Books Library</h1>
    </div>
    <table class ="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN Number</th>
        <th>Summary</th>
        <th>Author</th>
      </tr>
    <% @books.each do |book| %>
     <% if book.isAvailable == 1 %>
      <tr>
        <td><%= book.bookID %></td>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= link_to 'Show', detail_path(:id => book.id) %></td>
      </tr>
      <% end %>
    <% end %>
    </table>
    </div>
</div>

<div class="col-md-2">
    <div class="jumbotron">
            <%= link_to "Members List",   members_path %>
    </div>
</div>

