<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userName %><br>
    <%= f.text_field :userName %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surrName %><br>
    <%= f.text_field :surrName %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :addr1 %><br>
    <%= f.text_field :addr1 %>
  </div>
  <div class="field">
    <%= f.label :addr2 %><br>
    <%= f.text_field :addr2 %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :isActive %><br>
    <%= f.check_box :isActive %>
  </div>
  <div class="field">
    <%= f.label :isAdmin %><br>
    <%= f.check_box :isAdmin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
