<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="text-center">
    <h1>List of members</h1>
    </div>  
      <table class ="table">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Isactive</th>
            <th>Isadmin</th>
          </tr>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.userName %></td>
              <td><%= member.email %></td>
              <td><%= member.isActive %></td>
              <td><%= member.isAdmin %></td>
              <td><%= link_to 'Show', member %></td>
              <td><%= link_to 'Booklist', booklist_path(:id => member.id) %></td>
              <td><%= link_to 'Edit', edit_member_path(member) %></td>
            </tr>
          <% end %>
      </table>
  </div>
</div>


<br>

<%= link_to 'New Member', new_member_path %>
